:root {
  --heading-font-family: "Roboto Slab", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  --primary-text: #4f5151;
  --secondary-text: #2b6777;
  --secondary-color: #eff1f3;
}
body {
  font-family: var(--default-font-family);
  color: var(--primary-text);
}
nav {
  font-family: "Roboto Slab", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-family: var(--heading-font-family);
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}
.skill-list {
  list-style-type: none;
  text-align: center;
}
.fab,
.fas {
  font-size: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

footer {
  margin-top: 100px;
  text-align: center;
}
.btn-branding {
  background-color: var(--secondary-text);
  color: var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
  transition: ease 400ms;
}
.btn-branding:hover {
  color: var(--secondary-text);
  background-color: var(--secondary-color);
}

.hero {
  background-color: var(--secondary-color);
  color: var(--primary-text);
  padding-top: 60px;
  padding-bottom: 40px;
}
.hero h1 {
  font-weight: bold;
  font-size: 96px;
}

.hero p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 35px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  opacity: 0.7;
}

.hero img {
  border-radius: 50%;
  max-width: 310px;
  max-height: 310px;
  box-shadow: var(--box-shadow);
}

.project-description {
  padding-top: 70px;
}

@media (max-width: 990px) {
  .project-description h2 {
    font-size: 32px;
  }

  .project-description {
    padding-top: 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 48px;
  }
  .hero p,
  .project-description h2 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero img {
    margin: 20px auto;
    max-width: 50%;
  }
  .project-description {
    padding-top: 0;
    text-align: center;
  }
}
