:root {
  --heading-font-family: "Roboto Slab", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin-top: 100px;
}

p{
  font-family: var(--default-font-family);
  font-weight: normal;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family:var(--heading-font-family);
  font-weight: normal;
}

nav {
  font-family: "Roboto Slab", serif;
}

footer {
  margin-top: 100px;
  text-align: center;
}
.hero h1 {
  font-weight: bold;
  font-size: 96px;
}

.hero .pseudo-h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 35px;
}

.hero .pseudo-h3 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  opacity: 0.7;
}

.hero .avatar {
  border-radius: 50%;
  max-width: 310px;
  max-height: 310px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
  h2,
  .pseudo-h2 {
    font-size: 32px;
  }
  h3,
  .pseudo-h3 {
    font-size: 24px;
  }
  .hero .avatar {
    margin: 20px auto;
    max-width: 50%;
  }
}
