body {
  margin-top: 100px;
}
nav {
  font-family: "Roboto Slab", serif;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 96px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
h2,
.pseudo-h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 35px;
}

h3,
.pseudo-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  opacity: 0.7;
}

footer {
  margin-top: 100px;
  text-align: center;
}
.avatar {
  border-radius: 50%;
  max-width: 310px;
  max-height: 310px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
  h2,
  .pseudo-h2 {
    font-size: 32px;
  }
  h3,
  .pseudo-h3 {
    font-size: 24px;
  }
  .avatar {
    margin: 20px auto;
    max-width: 50%;
  }
}
